@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  background: #0a0b0e;
  color: #e2e8f0;
}

body {
  font-feature-settings: "tnum" 1;
}

/* scrollbar discreto */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #2b3240;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
